.loading {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;
  z-index: 99;
}

.loading p {
    color: #eee;
    font-size: 3em;
  }

.fadeOut {
  opacity: 0 !important;
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}